@page
@model Slownik.Pages.Slowa.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zarządzanie słownikiem</h1>
<br>

<p style="text-align:left">
    <a style="border:solid 0px;" asp-page="Add" class="btn"><i style="color:rgba(0,123,255,1);" class="fa-4x fas fa-plus"></i></a>
</p>
<div id="searchbar">
    <form asp-page="./Index" method="get" style="text-align:left;">
        <input type="text" class="SearchBox" name="SearchString" value="@Model.SearchString"/>
        <button type="submit" class="btn"><i class="fa-2x fas fa-search" style="color:rgba(0,123,255,1);"></i></button> <a asp-page="Index">Wróć do spisu</a><br>
    </form>
</div>
<span class="text-danger" style="font-weight:600;border-radius:5px; font-size:18px" asp-validation-for="SearchString"></span>
<table class="table">
    @if (Model.Slowa != null)
    {
        <thead>
            <tr>
                <th><div id="flaga_pl">
    <a asp-page="./Index" asp-route-sortOrder="@Model.PolskiSort"
       asp-route-currentFilter="@Model.CurrentFilter" asp-route-SearchString="@Model.SearchString" asp-route-pageIndex="@(Model.Slowa.PageIndex)">
        @Html.DisplayNameFor(model => model.Slowa[0].Polski).ToString().ToUpper()
    </a>
</div>

</th>
                <th><div id="flaga_uk">
    <a asp-page="./Index" asp-route-sortOrder="@Model.AngielskiSort"
       asp-route-currentFilter="@Model.CurrentFilter" asp-route-SearchString="@Model.SearchString" asp-route-pageIndex="@(Model.Slowa.PageIndex)">
        @Html.DisplayNameFor(model => model.Slowa[0].Angielski).ToString().ToUpper()
    </a>
                    </div>
</th>
                <th>OPERACJA</th>
            </tr>
        </thead>
    }
    <tbody>
        @if (Model.Slowa != null)
        {
            @foreach (var item in Model.Slowa)
            {
                <tr style="text-transform: uppercase;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Polski)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Angielski)
                    </td>
                    <td>
                        <span class="btn-group pull-right" style="margin-top: 5px">
                            <button asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-xs" style="color:white; background-color:green; border:solid 0px;"><i class="far fa-edit" style="color:white;"></i></button>
                            <button asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-warning btn-xs" style="color:white; background-color:red; border:solid 0px;"><i class="far fa-trash-alt"></i></button>
                        </span>
                    </td>
                </tr>
            }}
    </tbody>
</table>
@{if (Model.Slowa.Count >= 1)
    {
        var prevDisabled = !Model.Slowa.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Slowa.HasNextPage ? "disabled" : "";


    <li style="list-style-type:none; font-size:16px">
        <a asp-route-pageIndex="@(Model.Slowa.PageIndex + 1)" asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @nextDisabled">
            Dalej
        </a>

        @{
            int startPage = @Model.CurrentPage - 4;
            int endPage = @Model.CurrentPage + 3;
            if (startPage <= 0)
            {
                endPage -= (startPage - 1);
                startPage = 1;
            }
            if (endPage > @Model.TotalPages)
            {
                endPage = @Model.TotalPages;
                if (endPage > 8)
                {
                    startPage = endPage - 7;
                }
            }

            @for (int i = startPage; i <=endPage; i++)
    {
    <a asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-light page-item @(i == Model.CurrentPage ? "active" : "")" asp-route-pageIndex="@(Model.PageIndex = @i)" asp-route-SearchString="@Model.SearchString" asp-route-sortOrder="@Model.SortOrder">@i</a>
    }
        }
        <a asp-route-pageIndex="@(Model.Slowa.PageIndex - 1)" asp-route-currentFilter="@Model.CurrentFilter" 
           class="btn btn-primary @prevDisabled" asp-route-sortOrder="@Model.SortOrder" asp-route-SearchString="@Model.SearchString">
            Wróć
        </a>
    </li>
    }}

